<div class="header-container">
    <div class="right"><a href="https://www.sasken.com"><img src="assets/Saskenlogo.png" alt="Sasken.com Logo"></a>
    </div>
    <div class="left"><a href="http://sec.sasken.com"><img src="assets/SEC_Logo1.png" alt="SEC Logo" width="300px"></a>
    </div>
</div>
<div class="menu-div">
    <ul><b>
            <!-- <li><a href="Learning" title="Learning Journey">Learning Journey</a></li> -->
            <!-- <li><a href="#mgmt" title="Management dashboard">Management Dashboard</a></li> -->
            <li><a routerLink="/About-us">About SEC</a></li>
            <li><a routerLink="/SCL">SCL</a></li>
            <li><a routerLink="/EPIC" title="EPIC">EPIC</a></li>
            <li><a routerLink="/dashboard-login" title="Dashboard">Dashboard</a></li>
            <li><a routerLink="/Home">Home</a></li>
            <!-- <li><a href="/" title="Dashboard">Home</a></li> -->
        </b>
    </ul>
</div>

<!-- ===================== -->




<!-- <mat-toolbar class="sasken-color">
    <span class="header-sec"><img src="assets/SEC_Logo1.png" class="sasken-logo"></span>
    <span class="spacer"></span>
    <span><img src="assets/sasken-logo.png" class="sasken-logo"></span>
    <!-- Saskenlogo -->
<!---</mat-toolbar> -->

<!-- <mat-toolbar>
    <span></span>
    <span class="spacer"></span>
    <span>
        <ul class="tabs">
            <li class="li-tab" [ngClass]=" {'active-tab': tab==1 }">
                <span (click)=" tab = 1 "><a routerLink="/Home" routerLinkActive="active">Home</a></span></li>
            <li class="li-tab" [ngClass]=" {'active-tab': tab==2 }">
                <span (click)=" tab = 2 "><a routerLink="/dashboard-login">Dashboard</a></span></li> -->
<!-- <li class="li-tab" [ngClass]=" {'active-tab': tab==3 }">
                <span (click)=" tab = 3 ">Management
                    Dashboard</span></li> -->
<!-- <li class="li-tab" [ngClass]=" {'active-tab': tab==4 }">
                <span (click)=" tab = 4 ">Learning Journey</span>
            </li> -->
<!-- <li class="li-tab" [ngClass]=" {'active-tab': tab==5 }">
                <span (click)=" tab = 5 "><a routerLink="/EPIC">EPIC</a></span></li>
            <li class="li-tab" [ngClass]=" {'active-tab': tab==6 }">
                <span (click)=" tab = 6 "><a routerLink="/SCL">SCL</a></span></li>
            <li class="li-tab" [ngClass]=" {'active-tab': tab==7 }">
                <span (click)=" tab = 7 "><a routerLink="/About-us">About SEC</a></span></li>
        </ul>
    </span>
</mat-toolbar> -->