<!-- <div class="footer">
    <p style="margin-bottom: 0; margin-top: 9px;">"What we have learned is like a handful of earth; What we have yet to
        learn is like the whole world"</p>
    <p style="margin-bottom: 0;">Translated from a quote by Avvaiyar, a 4th Century Tamil poet from India.</p>
</div> -->

<div class="footer-div">
    <h3 style="font-size:25px; text-align:center"><q><i>What we have learned is like a handful of earth; What we
                have yet to learn is like the whole world</i></q>
        Translated from a quote by Avvaiyar, a 4th Century Tamil poet from India.</h3>

</div>