<div class="container-fluid">
    <div class="col-md-12">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4">
                <mat-card class="login-card">
                    <h2 class="heading-login">Login</h2>
                    <form [formGroup]="profileForm" (ngSubmit)="onSubmit()" style="text-align: center;">
                        <div class="form-group">
                            <input type="text" formControlName="username" id="name" class="form-control"
                                placeholder="Username" [ngClass]="{ 'is-invalid': submitted && f.username.errors }" />
                            <div *ngIf="submitted && f.username.errors" class="invalid-feedback">
                                <div *ngIf="f.username.errors.required" style="text-align:left;">Username is required
                                </div>
                                <div *ngIf="f.username.errors.email" style="text-align:left;">Username must be a valid
                                    email address</div>
                            </div>
                        </div>

                        <div class="form-group">
                            <input type="password" formControlName="password" id="password" class="form-control"
                                placeholder="Password" [ngClass]="{ 'is-invalid': submitted && f.password.errors }" />
                            <div *ngIf="submitted && f.password.errors" class="invalid-feedback">
                                <div *ngIf="f.password.errors.required" style="text-align:left;">Password is required
                                </div>
                                <div *ngIf="f.password.errors.minlength" style="text-align:left;">password length should
                                    be 8</div>
                            </div>
                        </div>

                        <div class="form-group"> <button type="submit" class="dash-login-btn">Submit</button> </div>
                    </form>
                </mat-card>
            </div>
            <div class="col-md-4"></div>
        </div>
    </div>
</div>