.login-card {
    // background: #fa2d17;
    // background-image: linear-gradient(to right, red, yellow);
    background-image: linear-gradient(45deg, #e8dfdf, transparent);
    margin-top: 67px;
}
.heading-login {
    text-align: center;
    padding: 15px;
}
.container-fluid {
    padding: 15px;
}
label {
    font-size: 14px;
}
.dash-login-btn {
    margin: 9px auto;
    width: 26%;
    border-radius: 52;
    background-color: #372b78;
    border: 1px solid #372b78;
    color: white;
}
