<div class="col-md-12">
    <div class="row">
        <div class="col-md-2"></div>
        <div class="col-md-8">
            <mat-card style="margin-top: 20px;margin-bottom: 85px;">
                <h2 class="dashboard-main-page">Dashboard for: Ritu Lavania</h2>
                <h3 class="assessments-heading">Assessments</h3>

                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>completed</th>
                            <th>No. of Attempts</th>
                            <th>marks</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Software Engineering</td>
                            <td>Yes</td>
                            <td>2</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>FCA</td>
                            <td>Yes</td>
                            <td>2</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>Behavioural Trainings</td>
                            <td>Yes</td>
                            <td>2</td>
                            <td>60</td>
                        </tr>
                        <tr>
                            <td>Trainings</td>
                            <td>Yes</td>
                            <td>2</td>
                            <td>60</td>
                        </tr>
                    </tbody>
                </table>


                <h3 class="assessments">Mandatory Trainings</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Session Name</th>
                            <th>Attended</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Email & Chat Etiquette</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Programming Acumen</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Behavioural Trainings</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Customer Centricity</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Written Communication</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Working in Teams</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Sasken 1-0-1</td>
                            <td>Yes</td>
                        </tr>
                        <tr>
                            <td>Business Etiquette</td>
                            <td>Yes</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="assessments">Training TCB</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Training</th>

                            <td>Training Name</td>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th>Project</th>
                            <td>Prokect name</td>
                        </tr>
                    </tbody>
                </table>

                <h3 class="assessments">SME Assessments</h3>
                <table>
                    <thead>
                        <tr>
                            <th>Kenmap</th>
                            <th>Date</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <td>Kenmap name</td>
                            <td>date</td>
                        </tr>
                    </tbody>
                </table>
            </mat-card>
        </div>
        <div class="col-md-2"></div>
    </div>
</div>