<!-- <h2 class="heading-scl">Gurukul: Sasken Learning Platform</h2>
<p class="para-scl">Sasken Coder's League is available on Gurukul for Sasians to continuously improve their programing
    and coding skills.
    it currently supports C, C++, Java and Python. new problems are added every week. Sasians can submit their solutions
    and get on-line feedback in terms of score.
</p>

<h6 class="heading-bottom">Happy Coding!!!</h6>
<p class="para-link">
    <a href="https://kenpoint.sasken.com/discovery/pmtoolkit/SaskenEngineeringCentre/SitePages/SCL_Leaderboard.aspx">Click
        to access Sasken Coders League leader board</a>
</p>

<h6 class="heading-bottom">Core team:Vardhan Walavalkar, Prasad Krishnamurthy</h6> -->


<div class="first-box-div">
    <p class="heading-about-us">Gurukul: Sasken Learning Platform</p>

    <p class="heading-vision">Sasken Coder's League is available on <a href="https://gurukul.sasken.com/">Gurukul</a>
        for Sasians to continuously improve their
        programing
        and coding skills.
        it currently supports C, C++, Java and Python. new problems are added every week. Sasians can submit their
        solutions
        and get on-line feedback in terms of score.</p>
    <div class="bottom-p">
        <p class="para-about-us">Happy Coding!!!</p><br>
        <p class="para-link" style="font-size: 20px;">Click
            to access
            <a
                href="https://kenpoint.sasken.com/discovery/pmtoolkit/SaskenEngineeringCentre/SitePages/SCL_Leaderboard.aspx">
                Sasken Coders League leader board</a>
        </p>
        <br>
        <p class="heading-vison"> <b>SEC Core team:</b> V Madhusudana D Rao, Rajiv Mulay</p>

    </div>
</div>