<div class="first-box-div">
    <p class="heading-about-us">About SEC</p>

    <div class="para-us">
        <p class="heading-vision">Vision of SEC: Attract Right Talent and Enhance Their Engineering skills to help
            Sasken Stay Ahead !</p>
    </div>

    <p class="para-about-us">The learning journey in SEC involves enhancing
        foundational and specialization competencies, primarily by solving
        problems individually and as part of live projects. In this endeavor, SEC creates and sustains enabling systems
        on an ongoing basis for continuous learning and improvement of technical capabilities of all Sasians.
    </p><br>
    <br>
    <p class="heading-vison"> <b>SEC Core team:</b> V Madhusudana D Rao, Rajiv Mulay</p>
</div>